@import "scss/colors.scss";

.blog_container {
	height: calc(100vh - 56px);
	overflow-y: auto;
	line-height: 1.5rem;
	background-color: $color-2-1;

	.nav {
		display: block;
	}

	.nav-item {
		display: block;
	}
}
p {
	text-indent: 2rem;
}

time {
	display: block;
	padding: 1rem 2rem;
}

@media screen and (min-width: 1024px) {
	.blog_container {
		padding: 0 10rem;
	}
}
