@import "../styles/colors.scss";

.code__main {
	background-color: $color-3-2;
	font-family: monospace;
	color: $color-2-0;
	padding: 0.75rem 0.4rem;
	width: 100%;
	text-indent: 0;
	line-height: 1.1rem;
	//margin: 0 4rem;
}
