/* SCSS HEX */
$color-0-2: #f2efeaff;

$color-1-2: #fc7753ff;

$color-2-0: #d7f4f3;
$color-2-1: #9ae4e1;
$color-2-2: #66d7d1ff;
$color-2-3: #2ba19b;
$color-2-4: #103d3b;

$color-3-2: #403d58ff;

$color-4-2: #dbd56eff;
